h1{
    text-align:left;
    font-size:70px;
    color:darkred;
    font-family: 'Satisfy', cursive;
    margin-top:10px;
    margin-bottom:0px;
}

h3{
    text-align:left;
    font-size:30px;
    color:darkred;
    font-family: 'Satisfy', cursive;
    margin-top:0px;
}

img {
    height:200px;
    width:200px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:800px;
}

.container div{
    flex-grow: 1;
   overflow:hidden;
   display:grid;
   place-items: center;
   color: white;
   height:300px;
   aspect-ratio :0.5;
   transition: all 0.5s ease-in-out;
   padding: 1rem;
   cursor: pointer
}

.container div image {
    border-radius: 1rem;
    grid-column: 1;
    grid-row: 1/span 3;
    width:100px;
    height:300px;
    object-fit:cover;

}

.container div:hover{
    flex-grow:10;
}